ul
{
	list-style: none;
}

h2
	{
		color: #a22430;
		padding-left: 20px;
	}

#verduras
{
	width: 90%;
	float: left;
	border: dotted 5px;
	margin: 20px;
}

#pastas
{
	border: dotted 5px;
	width: 90%;
	float: left;
	margin: 20px;
}
}

.imagenlol
{
	display: inline-block;
}

img
{
	width: 100px;
	height: 100px;
}
